---
layout: layouts/base.njk
title: About
eleventyExcludeFromCollections: true
---

<a href="https://cryptpad.org">CryptPad</a> is an and end-to-end encrypted and open-source collaboration suite that has been under
active development since 2015, and is used by hundreds of thousands of people.
Its feature set has grown from a simple editor to a full-blown set of multiple
applications, drive, teams, and so on.

<em>CryptPad Blueprints</em> is the research & development repository for the project. It is the laboratory to make the next generation of CryptPad even better with stronger security guarantees, features such as offline-first collaborative editing, and user-driven workflows like password reset.

These future developments will involve significant work to implement. They also
have to be considered in relation to the existing architecture, guarantee access
to all existing data, and preserve a coherent experience for users. Therefore a
migration path has to be carefully outlined to go from the current state of the
product to a proposed "next generation".

In the spirit of open-source software development, this site documents the long-term roadmap for CryptPad. We invite feedback, questions, contributions, please <a href="mailto:blueprints@cryptpad.org">get in touch</a>.


<!-- XXX Add names of contributors to the research -->
<h3>Team & alumni</h3>

<ul>
  <li><p>Current maintainers</p>
    <ul>
      <li>Fabrice Mouhartem - Cryptography researcher</li>
      <li>David Benqué - CryptPad project lead</li>
    </ul>
  </li>
<li><p>Alumni</p>
<ul>
<li>Aaron MacSween - Blueprints project initiator and former CryptPad project lead</li>
<li>Theo Von Arx - Blueprints project cryptography researcher</li>
</ul>
</li>
</ul>

<hr>

{% include "components/nlnet-footer.njk" %}
