---
layout: layouts/home.njk
title: CryptPad Blueprints
---


<article class="block roadmap">

  <h2>Roadmap</h2>

<pre class="mermaid">
  graph LR
{% for item in collections.roadmap %}
  {% set i = item.data %}
  {% if i.linkto %}{% for l in i.linkto %}
  {{i.id}}({{i.title}}){% if i.style %}:::{{i.style}}{% endif %}-->{{l}}
  {% endfor %}{% else %}
  {{i.id}}({{i.title}}){% if i.style %}:::{{i.style}}{% endif %}
  {% endif %}{% endfor %}

{% for item in collections.roadmap %}
  {% set i = item.data %}
  click {{i.id}} href "{{item.url}}"
{% endfor %}

subgraph Legend
  u("User Story"):::user-story
  r("Recommendation"):::recommendation
  p("Prototype"):::prototype
end

classDef user-story fill:#c8d6ff
classDef recommendation fill:#ffdeca
classDef prototype fill:#E4CAFF

</pre>
</article>

<!--
  #FFD4D4,
  #FFDECA,
  #FFE69C,
  #DBFFB7,
  #AFFDC2,
  #C9FFFE,
  #C8D6FF,
  #E4CAFF;
 -->

<!-- <style>
.nodeLabel {
  text-decoration: underline;
  color: blue !important;
}
</style> -->

<script type="module">
  import mermaid from '/node_modules/mermaid/dist/mermaid.esm.mjs';
  mermaid.initialize({
    startOnLoad: true,
  });
</script>

