
{% macro renderNavListItem(entry, page, navBreadcrumbs, parent) %}
    {% set isCurrent = entry.url == page.url %}
    {% set isAncestor = (parent and entry.url in (navBreadcrumbs | mapToAttr("url"))) %}

    <li class="nav {% if isCurrent %}current{% elif isAncestor %}ancestor{% endif %} {% if entry.children.length %}with-children{% else %}without-children{% endif %}">
    {% if entry.children.length %}
        <details {% if isCurrent or isAncestor %}open{% endif %}>
            <summary><a href="{{ entry.url }}">{{ entry.title }}</a></summary>
                <ol>
                {% for child in entry.children %}
                {{ renderNavListItem(child, page, navBreadcrumbs, parent) }}
                {% endfor %}
                </ol>
        </details>
    {% else %}
        <a href="{{ entry.url }}">{{ entry.title }}</a>
    {% endif %}
{% endmacro %}

{% macro breadcrumbs(navBreadcrumbs) %}

{% set breadItems = navBreadcrumbs | popfirst %}

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    {% for page in navBreadcrumbs %}
    <li><a href={{ page.url }}>{{ page.title }}</a></li>
    {% endfor %}
  </ol>
</nav>

{% endmacro %}

