

:root{
    --col-primary: #212121;
    --col-background: #eeeeee;
}

@media (prefers-color-scheme: dark) {

}

/* Layout */

html, body {
    color: var(--col-primary);
    background-color: var(--col-background);
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    height: 100%;
}

body {
    background-size: 1rem 1rem;
    background-image:
      linear-gradient(to right, rgba(0, 195, 255, 0.743) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 195, 255, 0.743) 1px, transparent 1px);
  }

.container {
    display: grid;
    grid-template-columns: 20rem auto 20rem;
    column-gap: 1rem;
}

main {
    /* flex-grow: 1; */
    padding: 1rem;
    background: white;
    margin: 1px;
}

#sidebar, #contents {
    /* max-width: 16rem; */
}

#contents {
    background: white;
    margin: 1px;
    padding: 0.5rem;
    height: fit-content;
  }
  

/* Typography */

figure {
    max-width: 100%;
}

figcaption {
    font-style: italic;
}

/* Navigation */

nav.breadcrumb {
    padding: 0.5em;
}

nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

nav.breadcrumb li {
    display: inline;
}

nav.breadcrumb li + li::before {
    display: inline-block;
    margin: 0 1em 0 0.5em;
    transform: rotate(15deg);
    border-right: 0.1em solid currentcolor;
    height: 0.8em;
    content: "";
}

/* Page TOC */

.toc__item {
    margin-block: var(--space-1);
    margin-inline-start: calc((var(--level, 1) - 1) * 1rem);
}