<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />

    <link rel="stylesheet" type="text/css" href="/_styles/main.css">
    <!-- HTML Meta Tags -->
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>

    {% block head %}
    {% endblock %}
</head>

{% set navPages = collections.all | eleventyNavigation %}

{% if eleventyNavigation.parent %}
  {% set navBreadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.parent, { includeSelf: true, allowMissing: true }) %}
{% endif %}

{% import "components/nav.njk" as nav %}

<body>

  <div id="BG-grid-1"></div>
  <div id="BG-grid-2"></div>

  <div class="container">
    {# TODO wrap in hamburger menu on small screens #}
    {# https://codepen.io/impressivewebs/pen/qBbmMRJ #}
    <nav id="site-contents">
      {% for item in navPages %}
      <a id="nav-title" href="{{ item.url }}">{{ item.title }}</a>
      <ol>
        {% for subitem in item.children %}
        {{ nav.renderNavListItem(subitem, page, navBreadcrumbs, eleventyNavigation.parent) }}
        {% endfor %}
      </ol>
      <ol>
        <li><a href="/about/">About</a></li>
      </ol>
      {% endfor %}
    </nav>

    <div class="page-content">
      {% block page_content %}
        <main class="single-page">
          {# Breadcrumb navigation #}
          {% if eleventyNavigation.parent %}
            {{ nav.breadcrumbs(navBreadcrumbs) }}
          {% endif %}
          {# Page title #}
          {% if title %}
          <h1>{{ title }}</h1>
          {% endif %}
          {# Page content #}
          {% block content %}
          {{ content | safe }}
          {% endblock %}
        </main>
      {% endblock page_content %}

      {% include "components/sidebar.njk" %}

    </div>
    {% block footer %}
    {% endblock footer %}
  </div>

</body>
</html>
