<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />

    <link rel="stylesheet" type="text/css" href="/_styles/main.css">
    <!-- HTML Meta Tags -->
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>

    {% block head %}
    {% endblock %}
</head>

<body>
  <nav id="contents">
    <a href="/">{{ site.title }}</a>
    <ol>
      {% for item in collections.chapter | sortByOrder %}
      <li><a href="{{ item.url }}">{{ item.data.title }}</a>
        <ol>
          {% for subitem in collections[item.data.id] %}
          <li><a href="{{ subitem.url }}">{{ subitem.data.title }}</a></li>
          {% endfor %}
        </ol>
      </li>
      {% endfor %}
    </ol>
  </nav>

  <main>
    {% block content %}
        {{ content | safe }}
    {% endblock %}
  </main>

  <aside id="sidebar">
    {% set toc = content | toc %}
    {% if (toc | length) %}
    <div class="toc">
      <h2 class="toc__label" id="app-panel-toc">Page Contents</h2>
      <ul class="toc__list" role="list" aria-labelledby="app-panel-toc">
        {% for item in toc %}
        <li style="--level: {{ item.level }}" class="toc__item">
          <a href="#{{ item.id }}" class="toc__link">
            {{ item.text | safe }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </aside>

</body>
</html>
