<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />

    <link rel="stylesheet" type="text/css" href="/_styles/main.css">
    <!-- HTML Meta Tags -->
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>

    {% block head %}
    {% endblock %}
</head>

{% set navPages = collections.all | eleventyNavigation %}

{% if eleventyNavigation.parent %}
  {% set navBreadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.parent, { includeSelf: true, allowMissing: true }) %}
{% endif %}

<body>

  <div id="BG-grid-1"></div>
  <div id="BG-grid-2"></div>

  {% macro renderNavListItem(entry) %}
    {% set isCurrent = entry.url == page.url %}
    {% set isAncestor = (eleventyNavigation.parent and entry.url in (navBreadcrumbs | mapToAttr("url"))) %}

    <li class="nav {% if isCurrent %}current{% elif isAncestor %}ancestor{% endif %} {% if entry.children.length %}with-children{% else %}without-children{% endif %}">
    {% if entry.children.length %}
        <details {% if isCurrent or isAncestor %}open{% endif %}>
            <summary><a href="{{ entry.url }}">{{ entry.title }}</a></summary>
                <ol>
                {% for child in entry.children %}
                {{ renderNavListItem(child) }}
                {% endfor %}
                </ol>
        </details>
    {% else %}
        <a href="{{ entry.url }}">{{ entry.title }}</a>
    {% endif %}
  {% endmacro %}

  {% macro breadcrumbs(navBreadcrumbs) %}
  <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol>
        {% for page in navBreadcrumbs %}
          <li><a href={{ page.url }}>{{ page.title }}</a></li>
        {% endfor %}
      </ol>
    </nav>
  {% endmacro %}

  <div class="container">
    {# TODO wrap in hamburger menu on small screens #}
    {# https://codepen.io/impressivewebs/pen/qBbmMRJ #}
    <nav id="site-contents">
      {% for item in navPages %}
      <a href="{{ item.url }}">{{ item.title }}</a>
      <ol>
        {% for subitem in item.children %}
        {{ renderNavListItem(subitem) }}
        {% endfor %}
      </ol>
      {% endfor %}
    </nav>

    <div class="page-content">
      {% block page_content %}
        <main class="single-page">
          {# Breadcrumb navigation #}
          {% if eleventyNavigation.parent %}
            {{ nav.breadcrumbs(navBreadcrumbs) }}
          {% endif %}
          {# Page title #}
          {% if title %}
          <h1>{{ title }}</h1>
          {% endif %}
          {# Page content #}
          {% block content %}
          {{ content | safe }}
          {% endblock %}
        </main>
      {% endblock page_content %}

      {% include "components/sidebar.njk" %}

    </div>
  </div>

</body>
</html>
