{% extends "layouts/base.njk" %}

{% block page_content %}
<main>

  <article class="header block">
      <h1>{{ title }}</h1>
      <p>{{ site.description | safe }}</p>
  </article>
  {# Page content #}
  <div class="block-container-home">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
  </div>
</main>
{% endblock page_content %}

{% block footer %}
<footer>
    <p>This project is funded through the <a href="https://nlnet.nl/entrust">NGI0 Entrust</a> Fund, a fund established by <a href="https://nlnet.nl">NLnet</a> with financial support from the European Commission’s <a href="https://ngi.eu">Next Generation Internet</a> program, under the aegis of DG Communications Networks, Content and Technology under grant agreement N<sup>o</sup> 101069594.</p>

    <p float="left">
      <img alt="NGI0 Entrust" src="https://nlnet.nl/image/logos/NGI0Entrust_tag.svg" width="100" />
      <img alt="NLNet Foundation" src= "https://nlnet.nl/image/logo_nlnet.svg" width="100" />
    </p>
  </footer>
{% endblock footer %}