{% extends "layouts/base.njk" %}

{% block page_content %}
<main>

  <article class="header block">
      <h1>{{ title }}</h1>
      <p>Cryptography Research & Development for <a href='https://cryptpad.org'>CryptPad</a></p>
  </article>
  {# Page content #}
  <div class="block-container-home">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
  </div>
</main>
{% endblock page_content %}

{% block footer %}
<footer>{% include "components/nlnet-footer.njk" %}</footer>
{% endblock footer %}