{% extends "layouts/base.njk" %}

{% block head %}
    <style>
      .nodeLabel {
          text-decoration: underline;
          color: blue !important;
      }
    </style>
{% endblock %}

{% block content %}
    {{ content | safe }}
    <script type="module">
      import mermaid from './node_modules/mermaid/dist/mermaid.esm.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
{% endblock %}

