---
layout: "layouts/blocks-page.njk"
title: CryptPad User Stories
eleventyNavigation:
  order: 4
---

{% import "components/user-stories.njk" as user %}

{% for story in collections.user_stories %}
  <article class="block">
    <h2>{{ story.data.title }}</h2>
    {{ user.story(story.data) }}
    <a href="{{ story.url }}">Open Story</a>
  </article>
{% endfor %}

