#### Account verification

> As an **activist** I want to **verify the identity of my contacts** so that I
> can **be sure that I share my sensitive documents with the right peers**.

Background:

* [Verifying
  contacts](https://docs.cryptpad.org/en/user_guide/security.html#verifying-contacts)
  in our docs
* There is no easy way to verify whether a CryptPad contact corresponds to the
  expected person. Profile pages contain the public key of the users, but they
  are not signed and hence spoofable.
* [_Safety number updates_](https://www.signal.org/blog/safety-number-updates/)
  on Signal's blog

Acceptance criteria:

* [ ] Easy doable, both in-person and also over an off-band channel
* [ ] User's should be encouraged to do this

