---
category: Honest user stories
extra:
- background:
  - '[Verifying contacts](https://docs.cryptpad.org/en/user_guide/security.html#verifying-contacts)
    in our docs'
  - There is no easy way to verify whether a CryptPad contact corresponds to the expected
    person. Profile pages contain the public key of the users, but they are not signed
    and hence spoofable.
  - '[_Safety number updates_](https://www.signal.org/blog/safety-number-updates/)
    on Signal''s blog'
- acceptance criteria:
  - done: false
    title: Easy doable, both in-person and also over an off-band channel
  - done: false
    title: User's should be encouraged to do this
title: Account verification
what: verify the identity of my contacts
who: activist
why: be sure that I share my sensitive documents with the right peers
tags: roadmap
linkto: [contact-verification]
id: account-verification
---
