---
pagination:
    data: user_stories
    size: 1
    alias: story
    addAllPagesToCollections: true
permalink: "document/user-stories/{{ story.category | slugify }}/{{ story.title | slugify }}/"
style: "user-story"
eleventyComputed:
    title: "{{ story.title }}"
    tags:
        - user-stories
        - "{{ story.category | slugify }}"
        - "{{ story.tags }}"
    link-to: "{{ story.linkto }}"
    id: "{{ story.id }}"
---

<p>
As a <strong>{{ story.who }}</strong>, I want to <strong>{{ story.what }}</strong>
{% if story.why %}
because <strong>{{ story.why }}</strong>.
{% elif story.goal %}
so that <strong>{{ story.goal }}</strong>.
{% endif %}
{% if story.inline %}
{{ story.inline }}
{% endif %}

</p>
