---
pagination:
    data: user_stories
    size: 1
    alias: story
    addAllPagesToCollections: true
permalink: "document/user-stories/{{ story.category | slugify }}/{{ story.title | slugify }}/"
style: "user-story"
eleventyComputed:
    title: "{{ story.title }}"
    tags:
        - user-stories
        - "{{ story.category | slugify }}"
        - "{{ story.tags }}"
    link-to: "{{ story.linkto }}"
    id: "{{ story.id }}"
---

<p>
As a <strong>{{ story.who }}</strong>, I want to <strong>{{ story.what }}</strong>
{% if story.why %}
because <strong>{{ story.why }}</strong>.
{% elif story.goal %}
so that <strong>{{ story.goal }}</strong>.
{% endif %}
{% if story.inline %}
{{ story.inline }}
{% endif %}
</p>

<p>
    {% if story.extra %}
        {% for item in story.extra %}
            {% set i = item | keyValue %}
            {{ i.key }}:
            {% if i.value is iterable %}
                {% if i.key == "issues" %}
                    <ul>
                        {% for issue in i.value %}
                            <li><a href="https://github.com/cryptpad/cryptpad/issues/{{ issue.reference }}">#{{ issue.reference}} {{ issue.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else  %}  {#  #}
                    {% for line in i.value %}
                        {{ line | safe }}
                    {% endfor %}
                {% endif %}
            {% else %}
                {{ i.value | safe }}
            {% endif %}

        {% endfor %}
    {% endif %}
</p>