<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />

    <!-- HTML Meta Tags -->
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>

</head>

<body>


    {% block content %}
        {{ content | safe }}
    {% endblock %}

    <div id="graphDiv"></div>

{# {% roadmap %} #}
{# 
    <script type="module">
        import mermaid from './node_modules/mermaid/dist/mermaid.esm.mjs';
        mermaid.initialize({ startOnLoad: false });

        // Example of using the render function
        const drawDiagram = async function () {
          element = document.querySelector('#graphDiv');
          const graphDefinition = 'graph TB\na-->b';
          const { svg } = await mermaid.render('graphDiv', graphDefinition);
          element.innerHTML = svg;
        };

        await drawDiagram();
      </script> #}

</body>
</html>